{% extends "vote/base.html" %}

{% block head-extra %}
  <style type="text/css">
    .intro {
      margin-bottom: 40px;
    }

    .question-box {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .answer-button {
      background-color: #eee;
      margin-top: 50px;
      cursor: pointer;
    }

    .answer-button>div {
      background-color: white;
      padding: 20px;
      padding-top: 0;
      margin-top: -15px;
    }

    .answer-button input {
      visibility: hidden;
      width: 0px;
    }

    .answer-button span {
      font-size: 1.5em;
      z-index: 1;
    }

    .answer-against {
      float: left;
      padding-right: 12px;
      margin-right: 60px;
    }

    .answer-against input:checked ~ div {
      text-shadow: -1px 1px 10px #f01;
    }

    .answer-for {
      float: right;
      padding-left: 12px;
      margin-left: 60px;
    }

    .answer-for input:checked ~ div {
      text-shadow: -1px 1px 10px #4f0;
    }

    .answer-skip {
      text-align: center;
      width: 100%;
      background: white;
      margin-bottom: 0;
      padding: 5px;
      cursor: pointer;
    }

    .answer-skip input:checked ~ span {
      text-shadow: -1px 1px 10px black;
    }

    .answer-skip input {
      visibility: hidden;
    }

    .tooltip-inner {
      max-width: 600px;
      font-size: 14px;
      background-color: #444;
    }
  </style>
  <script type="text/javascript" src="/static/brython/src/brython.js"></script>
{% endblock %}

{% block body-tag %}
  <body onload="brython(1)">
{% endblock %}

{% block body-scripts %}
  <script type="text/python">
    prev_questions = {{prev_questions|safe}}
    questions = {{questions|safe}}
  </script>
  <script type="text/python" src="/static/render_content.py"></script>
  <script type="text/python" src="/static/app.py"></script>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" role="main">
        <div class="bigger-font" id="questions">
          <p>
            כאן תקבלו שאלות בנושאים מגוונים מתוך הצבעות הכנסת בפועל מאז 2009.
          </p>
          <p>
            לפי תשובותיכם, נציע לכם את המפלגה שהכי תואמת לדעתכם.
            <b> ככל שתענו על יותר שאלות - כך ההתאמה תהיה מדוייקת יותר. </b>
          </p>
          {{prev_questions_html|safe}}
        </div>
        {{progress_html|safe}}
      </div>
      <div class="col-md-2" role="complementary">
        <nav class="nav hidden-print hidden-xs hidden-sm affix" style='font-size: 14px;'>
          <a href="#results-section">
            {{small_results_html|safe}}
          </a>
        </nav>
      </div>
    </div>
    <div class="row bigger-font">
      <div class="col-md-6 col-md-offset-4 col-sm-10 col-sm-offset-2">
        <a name="results-section">
          <h2> תוצאות </h2>
        </a>
        <div id="results">
          {{results_html|safe}}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block body-end-scripts %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock %}
