{% extends "base.html" %}

{% load i18n %}

{% block head-extra %}
  <title> {% trans "אז למי להצביע?" %} </title>

  <style type="text/css">
    .intro {
      margin-bottom: 40px;
    }

    .question-box {
      position: relative;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .answer-button {
      background-color: #eee;
      margin-top: 50px;
      cursor: pointer;
    }

    .answer-button>div {
      background-color: white;
      padding: 20px;
      padding-top: 0;
      margin-top: -15px;
    }

    .answer-button input {
      visibility: hidden;
      width: 0px;
    }

    .answer-button span {
      font-size: 1.5em;
      z-index: 1;
    }

    .answer-against {
      float: left;
      padding-right: 12px;
      margin-right: 60px;
    }

    .answer-against input:checked ~ div {
      text-shadow: -1px 1px 10px #f01;
      font-size: 28px;
    }

    .answer-for {
      float: right;
      padding-left: 12px;
      margin-left: 60px;
    }

    .answer-for input:checked ~ div {
      text-shadow: -1px 1px 10px #4f0;
      font-size: 28px;
    }

    .answer-skip {
      text-align: center;
      width: 100%;
      background: white;
      margin-bottom: 0;
      padding: 5px;
      cursor: pointer;
    }

    .answer-skip input:checked ~ span {
      text-shadow: -1px 1px 10px black;
    }

    .answer-skip input {
      visibility: hidden;
    }

    .tooltip-inner {
      max-width: 600px;
      font-size: 14px;
      background-color: #444;
    }

    /* radial progress bar loosely based on
     * https://medium.com/@andsens/radial-progress-indicator-using-css-a917b80c43f9
     */
    .radial-progress, .radial-progress .circle .fill, .radial-progress .circle .mask {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    .radial-progress {
      background-color: #eee;
    }
    .radial-progress .circle .fill, .radial-progress .circle .mask {
      position: absolute;
    }
    .radial-progress .circle .fill {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .radial-progress .inset {
      width: 120px;
      height: 120px;
      position: absolute;
      margin: 15px;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      padding-top: 30px;
    }

    .fix-bottom {
      position: fixed;
      bottom: 22px
    }

    .fix-left {
      position: fixed;
      left: 22px
    }

    .like,
    .dislike {
        opacity: 0;
        height: 80px;
        position: absolute;
        width: 170px;
        top: 40px;
    }

    .like {
        background: url("/static/jTinder/img/liked.png") no-repeat scroll 0 0;
        left: 45px;
    }

    .dislike {
        background: url("/static/jTinder/img/nope.png") no-repeat scroll 0 0;
        right: 45px;
    }

    #main-content {
      overflow: hidden;
    }
  </style>
  <script type="text/javascript" src="/static/brython/src/brython.js"></script>
{% endblock %}

{% block body-tag %}
  <body onload="brython(1)">
{% endblock %}

{% block body-scripts %}
  <script type="text/python">
    prev_questions = {{prev_questions|safe}}
    questions = {{questions|safe}}
    client_side_translations = {{client_side_translations|safe}}
    is_staff = {{request.user.is_staff}}
    root_url = ''
  </script>
  <script type="text/python" src="/static/render_content.py"></script>
  <script type="text/python" src="/static/app.py"></script>
  <script type="text/python">
    game.start()
  </script>
{% endblock %}
{% block content %}
  <div class="container-fluid" id="main-content">
    <div class="row">
      <div class="col-md-2" role="complementary">
        <div class="hidden-print hidden-xs hidden-sm fix-bottom fix-left">
          {% if LANGUAGE_BIDI %}
            {{radial_progress_html|safe}}
          {% else %}
            <a href="#results-section">
              {{small_results_html|safe}}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-8" role="main">
        <div class="bigger-font" id="questions">
          <p>
            {% trans "כאן תקבלו שאלות בנושאים מגוונים מתוך הצבעות הכנסת בפועל מאז 2009." %}
          </p>
          <p>
            {% trans "לפי תשובותיכם, נציע לכם את המפלגה שהכי תואמת לדעתכם." %}
            <b> {% trans "ככל שתענו על יותר שאלות - כך ההתאמה תהיה מדוייקת יותר." %} </b>
          </p>
          {{prev_questions_html|safe}}
        </div>
        {{progress_html|safe}}
      </div>
      <div class="col-md-2" role="complementary">
        <div class="hidden-print hidden-xs hidden-sm fix-bottom">
          {% if LANGUAGE_BIDI %}
            <a href="#results-section">
              {{small_results_html|safe}}
            </a>
          {% else %}
            {{radial_progress_html|safe}}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row bigger-font">
      <div class="col-md-6 {{LANGUAGE_BIDI|yesno:"col-md-offset-4,col-md-offset-2"}} col-sm-10 col-sm-offset-2">
        <a name="results-section">
          <h2> {% trans "תוצאות" %} </h2>
        </a>
        <div id="results">
          {{results_html|safe}}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block body-end-scripts %}
  <!-- jTinder: -->
  <script type="text/javascript" src="/static/jTinder/js/jquery.transform2d.js"></script>
  <script type="text/javascript" src="/static/jTinder/js/jquery.jTinder.js"></script>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    var jTinderConfig = {
      onDislike: function (item) {
        item.find(".answer-against").click();
      },
      onLike: function (item) {
        item.find(".answer-for").click();
      },
      animationRevertSpeed: 200,
      animationSpeed: 400,
      threshold: 2,
      likeSelector: '.like',
      dislikeSelector: '.dislike'
    };

    $(".question-box").jTinder(jTinderConfig);
  </script>
{% endblock %}
