<!doctype html>
<html dir="rtl">
<head>
  <meta charset="utf-8">
  <title>אתר כזה לקראת הבחירות</title>
  <script type="text/javascript" src="/static/brython/src/brython.js"></script>
</head>
<body onload="brython(debug=1)">
  <script type="text/python">
    parties = dict((x['id'], x) for x in {{parties|safe}})
    members = {{members|safe}}
  </script>
  <script type="text/python" src="/static/app.py"></script>
  <h2> מה זה פה? </h2>
  <p>
    אתר זה מיועד לעזור לך לגלות איזו מפלגה מתאים לך להצביע.
  </p>
  <p>
    זוהי גרסת טיוטא ראשונית ביותר!
    <a href="https://github.com/yairchu/vote_tool/wiki">ואשמח לקבל את עזרתכם לשפר אותו</a>
    , תודה! יאיר
  </p>
  <h2> יאללה </h2>
  <h3> לאיזו מפלגה הצבעת בבחירות האחרונות: </h3>
  <div id="previous_vote">
    <input type="radio" name="previous_vote" value="" />
    לא הצבעתי
    {% for party in parties %}
      <input type="radio" name="previous_vote" value="{{party.id}}" />
      {{party.name}}
    {% endfor %}
  </div>
  <div id="questions"></div>
  <div id="results"></div>
  <br><br><br><br><br><br><br>
  <div id="debug" dir="ltr"></div>
</body>
</html>
