{% extends "base.html" %}

{% block head-extra %}
  <meta property="og:url" content="http://{{url|safe}}" />
  <meta property="og:title" content="אילו מפלגות מצביעות כמוני?" />
  <meta property="og:description" content="לפי הצבעתן בכנסת, לאילו מפלגות יש את ההתאמה הכי גדולה לדעותי?" />
  <meta property="og:image" content="http://{{url|safe}}image.png" />

  <style type="text/css">
    a.question-title {
      color: black;
    }
    .question-expand {
      color: #88f;
      margin-left: 5px;
    }
    .fb-comments {
      padding-top: 5px;
    }
    .table {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block body-scripts %}
  <script>
    share = function() {
      FB.ui({
        method: 'share',
        href: 'http://{{url|safe}}',
      }, function(response){});
    };

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '431006867066641',
        xfbml      : true,
        version    : 'v2.2'
      });

      {% if share %}
      setTimeout(function() {
        $('#share-modal').modal();
      }, 1000);
      {% endif %}
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <div id="fb-root"></div>
{% endblock %}

{% block modal %}
  <div class="modal" id="share-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">פרסם את תוצאותיי!</h4>
        </div>
        <div class="modal-body">
          <p>
            העמוד הנ״ל מכיל את תוצאותיך ב״אז למי להצביע?״.
          </p>
          <p>
            לחץ ״שתף״ כדי לשתף עם החברים בפייסבוק.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="share()">שתף!</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">רגע.. תן לראות קודם ואז אשתף!</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row bigger-font">
      <div class="col-md-8 col-md-offset-2" role="main">

        <h2> ההצבעות שלי: </h2>

        {% for question in questions %}

          <a class="question-title" id="q{{question.id}}" data-toggle="collapse" href="#q{{question.id}}-body" aria-expanded="false" aria-controls="q{{question.id}}-body">
            <span class="glyphicon glyphicon-plus question-expand"></span>
            {{question.title}}:
            {% if question.answer == 1 %}
              <span class='answer answer-for'>
                בעד.
              </span>
            {% else %}
              <span class='answer answer-against'>
                נגד.
              </span>
            {% endif %}
          </a>
          <div class="collapse question-box" id="q{{question.id}}-body">
            <div>
              {% if question.summary %}
                {{question.summary|safe}}
                <br>
              {% endif %}
              <a href="https://oknesset.org/vote/{{question.id}}">
                מידע נוסף
              </a>
              <br>
              {{question.party_votes_html|safe}}
            </div>
          </div>

          <br>

        {% endfor %}

      </div>
    </div>
    <div class="row bigger-font">
      <div class="col-md-6 col-md-offset-4">
        <h2> התוצאות שלי: </h2>

        {{results_html|safe}}

        <a target="_blank" href="/scoring" style="font-size: 14px;">(איך נקבע הניקוד?)</a>

        <div class="fb-comments" data-href="http://{{url}}" data-numposts="5" data-colorscheme="light"></div>

        <div style='text-align: center;'>
          <button style="margin-top: 7px;" class='btn btn-lg btn-primary' onclick="share()">שתף בפייסבוק!</button>
          <br>
          <a style="margin-top: 7px;" href='/' class='btn btn-lg btn-success'>שחק גם!</a>
        </div>
        <br>
      </div>
    </div>
  </div>
{% endblock %}
