[submodule "submodules/brython"]
	path = submodules/brython
	url = https://github.com/brython-dev/brython.git
[submodule "submodules/python-bidi"]
	path = submodules/python-bidi
	url = https://github.com/yairchu/python-bidi.git
