[submodule "submodules/brython"]
	path = submodules/brython
	url = https://github.com/brython-dev/brython.git
[submodule "submodules/python-bidi"]
	path = submodules/python-bidi
	url = https://github.com/MeirKriheli/python-bidi.git
[submodule "submodules/jTinder"]
	path = submodules/jTinder
	url = https://github.com/yairchu/jTinder.git
