CairoSVG==1.0.11
Django==1.8.19
FeinCMS==1.13.6
SQLAlchemy==0.9.8
cffi==1.11.5
dj-database-url==0.3.0
django-debug-toolbar==1.9.1
django-modeltranslation==0.12.2
django-postgrespool==0.3.0
django-smuggler==0.6.0
gunicorn==19.2.1
psycopg2==2.7.5
six==1.9.0
solid-i18n==0.6.1
whitenoise==1.0.6
