{% extends "base.html" %}

{% load feincms_tags %}
{% load feincms_page_tags %}

{% block head-extra %}
  <title>אז למי להצביע - {{feincms_page.title}}</title>
{% endblock %}

{% block content %}
  {% feincms_nav feincms_page level=1 depth=2 as navitems %}

  <div class="container">
    <div class="row">
      {% feincms_render_region feincms_page "main" request %}
    </div>

    <div class="row" style="text-align: center;">
      <hr />
      {% for page in navitems %}
        {% if not forloop.first %}
          -
        {% endif %}
        {% feincms_translatedpage_or_base for page as translatedpage language=feincms_page.language %}
        <a href="{{translatedpage.get_absolute_url}}"> {{translatedpage.title}} </a>
      {% endfor %}
      <br><br>
    </div>
  </div>
{% endblock %}
